/* CSS Document */

@-ms-viewport{
  width:extend-to-zoom;
  zoom: 1.0;
}


*, *::after, *::before {
  box-sizing:border-box;  
  
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-family: urw-din, sans-serif;
  font-weight: 700;
  font-style: normal;
}


body{
 margin:0;
 padding:0;
 background-color:rgb(233, 233, 233);

}

header{
  color:white;
  background-color: #E13C31; 
  height:3.5em;
  position: fixed;
  z-index:10;
  width: 100%;
  height:50px;

}

.logo img{
  height:90px;
  margin-top:50px;
  margin-left: 2%;
}

.hamburgermenu{
  position: absolute;
  left: 25px;
  top: 6px;
}

a.lidworden{
  background-color: #5AB999;
  color:white;
  padding: 0.6em;
  position: absolute;
  right: 10px;
  top: 6px;

}




a{
  text-decoration: none;
}


button{
  color:white;
  background-color: #E13C31; 
}


a.lidworden:hover{
  background-color: #54A389;
}


.yogahouding{ 
  width: 100%;
  margin-top:40px;
  padding:0;
}



.informatie{
  margin-left:2vw;
  margin-right: 2vw;
  position: relative;
  margin-top:-70px;
  padding:0;
  
}

.informatie h3{
  background-color:#E13C31;
  color:white;
  font-size: 1.2em;
  text-align: center;
  padding:1em 4.5em 1em 4.5em;
}

.vergrootglas{
 width:2.5em;
 position: absolute;
 top:1em;
 right: 10%;

}

.fit{
  margin-left:2vw;
  margin-right: 2vw;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #E13C31;
  padding:1em 4.5em 1em 4.5em;
  padding-bottom:2em;
}

.fit h1{
  font-weight: 250;
  font-size: 2em;

  background-color: #E13C31;
  color:white;
  font-size: 3em;
  font-weight: 900;
  text-align: left;
}

.fit h3{
  font-weight: 100;
  font-size: 1.3em;

  background-color: #E13C31;
  color:white;
  font-weight: 50;
  margin-bottom: 2em;
  
}

.fit a {
  background-color:white;
  color: #E13C31;
  font-size:1.3em;
  padding-right:1.3em;
  padding-top:0.6em;
  padding-bottom:0.4em;
  padding-left: 0.8em;
  margin-bottom: 20em;
  font-family: stencil-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}



.grotefoto img{
  padding-left:2vw;
  padding-right: 2vw;
  width: 100vw;

  
}


.abonnement{
  margin-left: 2vw;
  margin-right: 2vw;
  position: relative;
  background-color:white;
  padding-bottom: 10em;
}



.abonnement h2{
  color:#E13C31;
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: stencil-std, sans-serif;
}

.abonnement p{
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 0.8em;
 
}

.rood{
  color: #E13C31;
}

.paragrafen{
  margin-bottom: 2em;
}

.abonnement #bekijk{
  background-color: #5AB999;
  color:white;
  padding:1em;
  font-size: 1.2em;
  margin-left: 2vw;
  margin-top:1em;


}

.abonnement #schrijf{
  color:#5AB999;
  font-size: 1.2em;
  margin-left: 0.5em;
  position: absolute;
  left: 0;
  bottom: 5em;
}

.vrouwbalie img{
  padding-left:2vw;
  padding-right: 2vw;
  padding-top:2vw;
  width: 96vw;
  
}
