/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
  font-family:"DinPro",sans-serif;
}

body{
 margin:0;
 padding:0;
}

header{
  color:white;
  background-color: #E13C31; 
  height:3.5em;
  position: relative;
  z-index:10;

}

header a.lidworden{
  position: absolute;
  right:1em;
  top:0.5em;
  background-color: #5AB999;
  color:white;
  padding: 0.8em;
  font-family: 'myFirstFont', sans-serif;
}

a{
  text-decoration: none;
}

header a.logo{
  position: absolute;
  bottom:-6em;
  left:1em;
  
}

button{
  color:white;
  background-color: #E13C31; 
}


a.lidworden:hover{
  background-color: #54A389;
}


.yogahouding{
  position: relative; 
  max-width: 100vw;
  margin:0;
  padding:0;
  top:-0.5em;

}

main{
  position: relative;
}

.informatie{
  margin-left:5vw;
  margin-right: 5vw;
  position: absolute;
  top:18em;
  left:1vw;
  
  
}

.informatie h3{
  background-color:#E13C31;
  color:white;
  font-size: 1.5em;
  font-weight: 50;
  text-align: center;
  padding:1em 4.5em 1em 4.5em;
  font-family: 'myFirstFont', sans-serif;
}

.vergrootglas{
 position: absolute;
 right: 1em;
 bottom:3em;
 width:1.8em;
}

.fit{

  margin-left:5vw;
  margin-right: 7vw;
  position: absolute;
  top:25em;
  left:1vw;
  background-color: #E13C31;
  padding:1em 4.5em 1em 4.5em;
}

.fit h1{
  font-weight: 250;
  font-size: 2em;

  background-color: #E13C31;
  color:white;
  font-family: 'myFirstFont', sans-serif;
  font-size: 3em;
  font-weight: 900;
  text-align: left;
}

.fit h3{
  font-weight: 100;
  font-size: 1.3em;

  background-color: #E13C31;
  color:white;
  font-family: 'myFirstFont', sans-serif;
  font-weight: 50;
  text-align: left;
  margin-bottom: 2em;
  
}

.fit a {
  background-color:white;
  color: #E13C31;
  font-size:1.5em;
  padding-right:1.5em;
  padding-top:0.6em;
  padding-bottom:0.4em;
  padding-left: 0.8em;
  margin-bottom: 20em;
}