/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


@font-face {
  font-family: 'myFirstFont';
  src: url(DIN_Pro_400.ttf);
}


*{
  font-family:"DinPro",sans-serif;
}

body{
 margin:0;
 padding:0;
}

header{
  color:white;
  background-color: #E13C31; 
  height:3.5em;
  position: relative;
  z-index:10;

}

header a.lidworden{
  position: absolute;
  right:1em;
  top:0.5em;
  background-color: #5AB999;
  text-decoration: none;
  color:white;
  padding: 0.8em;
  font-family: 'myFirstFont', sans-serif;
}

header a.logo{
  position: absolute;
  bottom:-6em;
  left:1em;
  
}

button{
  color:white;
  background-color: #E13C31; 
}


a.lidworden:hover{
  background-color: #54A389;
}

main {
  position: relative;  
}

main img .yogahouding{
  width: 50%;
  
}

main p{
  background-color:#E13C31;
  color:white;
  font-size: 1.5em;
  font-weight: 50;
  text-align: center;
  padding:1em;
  font-family: 'myFirstFont', sans-serif;
  position: relative;
  top:-3em;
}

.informatie{
  margin-left:5vw;
  margin-right: 5vw;
}

.vergrootglas{
 position:absolute;
 right: 3em;
 bottom:0.5em;
 width:1.8em;
}